body {
    min-height: 100%;
    width: 100%;
    margin: 0px;
}

#screen {
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 5px;
    margin-bottom: 80px;

    display: flex;
    flex-direction: column;
}

#info {
    padding: 20px;
}

body {
    background-color: #181020;
    color: white;
    font-family: "Montserrat", "Verdana", sans-serif;
}

.area {
    background-color: #222;
    border-radius: 15px;
    margin: 8px;
    max-height: 75vh;
    padding: 10px;
}

.main-area {
    flex: 1;
    max-width: 98vw;
    min-width: 0;
    border-radius: 15px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.chat-area {
    flex: 6;
    margin-bottom: 15px;
    max-height: 70vh;
    overflow-y: auto;
    min-height: 0;
}

.player-list {
    flex: 2;
}

.auth-name {
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button {
    background-image: linear-gradient(#118, #030318);
    border: 2px outset #BBB;
    color: white;
    border-radius: 5px;
    height: 30px;
}

button:hover {
    background-image: linear-gradient(#33B, #080820);
}

button:active {
    background-image: linear-gradient(#080820, #005);
    border: 2px inset #BBB;
}

.separator {
    display: inline-block;
    flex: 1;
}

.monospace {
    font-family: "Inconsolata", "Lucida Console", monospace;
}

.chat-input {
    border-radius: 15px;
    flex: 1;
    margin-bottom: 10px;
}

.chat-container {
    background-color: #222;
    flex: 3;
    border-radius: 15px;
    margin-left: 10px;
    padding: 10px;
}

.game-console {
    flex: 1;
    padding: 15px;
    padding-top: 25px;
    max-height: 70vh;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

.game-container {
    flex: 10;
    background-color: #222;
    border-radius: 15px;
}

.chat-message {
    font-size: 11.5px;
    margin: 5px;
    background-color: #404040;
    border-radius: 5px;
    min-height: 50px;
    max-height: 350px;
    overflow-x: auto;
    max-width: 250px;
    overflow-y: auto;
}

.chat-message > p {
    margin: 1px;
    margin-left: 4px;
    font-size: 13px;
}

.chat-message:nth-child(odd) {
    background-color: #545454;
}

.player-item {
    margin: 2px;
    background-color: #404040;
    border-radius: 4px;
    padding: 4px;
}

.player-item:nth-child(odd) {
    background-color: #545454;
}